<mat-toolbar>
    <div style="text-align: center;">
      <a routerLink="/"><span style="font-size: 33px; font-weight: bolder;">Edit profile</span></a>
    </div>
  </mat-toolbar>
  
  <div class="container" style="display: flex; justify-content: center; margin-top: 100px;">
    <div class="card" style="background: #ffffff5b; width: 35%; height: 400px;">
      <form [formGroup]="passwordForm" (ngSubmit)="changePassword()" style="width: 100%; padding: 50px;" novalidate>
        <h2 style="text-align: center; font-weight: bolder;">Change Password</h2>
        <div>
          <label for="oldPassword">Old Password:</label>
          <input type="password" formControlName="oldPassword" />
        </div>
        <div>
          <label for="newPassword">New Password:</label>
          <input type="password" formControlName="newPassword" />
          <div *ngIf="passwordForm.get('newPassword')?.hasError('minlength') && passwordForm.get('newPassword')?.touched">
            Password must be at least 7 characters long.
          </div>
        </div>
        <div style="display: flex; justify-content: center;">
          <button  mat-raised-button type="submit" [disabled]="passwordForm.invalid">Change Password</button>
        </div>
      </form>
    </div>
  </div>