.mat-toolbar {
    background-color: white;
    color: black;
    font-size: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* ปรับ z-index ตามความเหมาะสม */
  }
  
